<h2>Help - ヘルプ</h2>
<hr>
<h4>You Go Boy! へようこそ！</h4>
<p>You Go Boy! は、<ruby><rb>英語</rb><rp>（</rp><rt>えいご</rt><rp>）</rp></ruby>をたのしく<ruby><rb>勉強</rb><rp>（</rp><rt>べんきょう</rt><rp>）</rp></ruby>するためのゲームです。</p>
<p>家族でひとつのアカウントをシェアするので、アカウントの作成がまだの家族は右上にある<i class="icon-plus-sign"></i>をクリックして作成してください。アカウントの作成が済んでいる（You Go Boy! に登録したメールアドレスとパスワードがわかる）場合は、右上の<i class="icon-signin"></i>からログインしてください。</p>
<p>ログインをしたら、家族に登録されているプレイヤーの一覧が表示されます。プレイヤーはいつでも追加できます。プレイヤーを選んで、ゲームを始めましょう。</p>
<p>プレイヤーを選んだら、ステージの選択画面が表示されます。ゲームのステージを選びましょう。ステージを選べば、ゲームスタートです！</p>
