<h1>You Go Boy!</h1>
<p class="lead">Let's play together! おうちの<ruby><rb>人</rb><rp>（</rp><rt>ひと</rt><rp>）</rp></ruby>にログインしてもらってね</p>
<%= link_to('ログイン', new_user_session_path, class: "btn btn-large btn-success") %>
