<a href="/">
  <i class="icon-remove-sign icon-4x pull-right right-btn"></i>
</a>
<a href="/kids/{{id}}">
  <img src="{{imgsrc}}" class="pull-left img-circle left-btn">
</a>
<h2>{{name}}</h2>
<hr>
<div class="question-content">
</div>
