<div class="player-bar">
  <img src="{{imgsrc}}" class="pull-left img-circle">
  <a href="/"><img src="/assets/close_btn.png" class="pull-right game-close-btn"></a>
  <h2>{{name}}</h2>
</div>
<hr>
<div class="question-content">
</div>
