#devise-sessions_controller {
  .inside-jumbotron {
    label.checkbox input[type="checkbox"] {
      float: none;
    }
  }
}
#devise-registrations_controller {
  .inside-jumbotron {
    // make help-inline to help-block
    .help-inline {
      display: block;
      margin-bottom: 15px;
      padding-left: 0;
    }
  }
}
