#devise-sessions_controller {
  .inside-jumbotron {
    form {
      margin-bottom: 0;
    }
    .form-actions {
      margin-bottom: 0;
      background-color: transparent;
    }
    label.checkbox input[type="checkbox"] {
      float: none;
    }
  }
}
#devise-registrations_controller {
  .inside-jumbotron {
    form {
      margin-bottom: 0;
    }
    .form-actions {
      margin-bottom: 0;
      background-color: transparent;
    }
    // make help-inline to help-block
    .help-inline {
      display: block;
      margin-bottom: 15px;
      padding-left: 0;
    }
  }
}
