#static_pages_controller {
  .jumbotron {
    h1 {
      font-size: 72px;
      line-height: 1;
    }
    .lead {
      margin-bottom: 20px;
      font-size: 21px;
      font-weight: 200;
      line-height: 30px;
    }
    .btn {
      font-size: 21px;
      padding: 14px 24px;
    }
  }
}
